.music-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-para {
    width: 31%;
    display: flex;
    justify-content: space-between;

    gap: 2rem;
    .play {
      text-transform: uppercase;
      color: var(--text-secondary);
      font-family: var(--font-special);
      font-size: 1.1rem;
    }
    .btn-para {
      border-radius: var(--radius-lg);
      border: 0.1rem solid var(--color-primary);
      background: transparent;
      padding-inline: 0.5rem;
      padding-block: 0.3rem;
      .mood {
        text-transform: uppercase;
        color: var(--color-primary-light);
        font-family: var(--font-special);
      }
    }
  }
  .musicplay-wrapper {
    width: 31%;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--border-color);
    background-color: var(--border-bg-color);
    border-radius: var(--radius-lg);
    margin-top: 1rem;
    padding-block: 1rem;
    .top-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding-block: 1rem;
      padding-inline: 1rem;
      .image {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: clamp(60px, 6vw, 90px);
          height: clamp(60px, 6vw, 90px);
          object-fit: cover;
          border-radius: 0.7rem;
        }
        .title {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          .active {
            font-weight: 700;
            font-family: var(--font-special);
          }
          p {
            font-size: 1rem;
            font-family: var(--font-special);
          }
        }
      }
      .icons {
        display: flex;
        gap: 1rem;
      }
    }
    .middle-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-block: 1rem;
      padding-inline: 1rem;
      align-items: center;
      span {
        font-family: var(--font-special);
      }
      .line {
        width: 80%;
        height: 6px;
        border-radius: var(--radius-lg);
        background-color: var(--color-primary-light);
        position: relative;
        cursor: pointer;
        background: linear-gradient(
          to right,
          var(--color-primary-light) 0%,
          var(--color-primary-light) var(--progress),
          rgba(245, 238, 238, 0.233) var(--progress),
          rgb(255, 235, 235) 100%
        );
        transition: var(--transition-player);

        .circle {
          position: absolute;
          border-radius: var(--radius-lg);
          border: 0.5rem solid var(--text-primary);
          top: 50%;
          transform: translate(-50%, -50%);
          width: 14px;
          height: 14px;
          cursor: pointer;
          transition: var(--transition-progress);
        }
      }
    }
    .bottom-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-block: 1rem;
      padding-inline: 1rem;
      align-items: center;
      .volume {
        cursor: pointer;
      }
      .effect {
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        .pause {
          display: flex;
          align-items: center;
          border-radius: var(--radius-lg);
          padding-inline: 1rem;
          padding-block: 1rem;
          background-color: var(--color-primary-light);
          transition: var(--transition);
        }
        .pause:hover {
          cursor: pointer;
          background-color: var(--color-primary-dark);
        }
      }
    }
  }
}
